HELP.md
/FaceRecognitionApi/target/
!.mvn/wrapper/maven-wrapper.jar
/FaceRecognitionApi/src/main/resources/imgs/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/FaceRecognitionApi/.idea
/FaceRecognitionApi/*.iws
/FaceRecognitionApi/*.iml
/FaceRecognitionApi/*.ipr
/FaceRecognitionApi/src/main/resources/static/userface/
/FaceRecognitionCore/src/logs/
/FaceRecognitionCore/m1/
/FaceRecognitionCore/tmp.bmp
/FaceRecognitionCore/models/
/FaceRecognitionCore/m2/
/FaceRecognitionCore/model1/
/FaceRecognitionCore/model2/
/FaceRecognitionCore/model3/
/FaceRecognitionCore/model4/
/FaceRecognitionCore/models/
/FaceRecognitionCore/m3/
/FaceRecognitionCore/logs/
/FaceRecognitionCore/m4/
/FaceRecognitionCore/m1.zip
/FaceRecognitionCore/.idea
/FaceRecognitionCore/src/__pycache__/
/FaceRecognitionCore/__pycache__/
/FaceRecognitionCore/mnist_model
/FaceRecognitionCore/MNIST_data
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

test/
train/
userface/
### VS Code ###
.vscode
/FaceRecognitionWebApp/.DS_Store
/FaceRecognitionWebApp/node_modules/
/FaceRecognitionWebApp//dist/
/FaceRecognitionWebApp/npm-debug.log*
/FaceRecognitionWebApp/yarn-debug.log*
/FaceRecognitionWebApp/yarn-error.log*
/FaceRecognitionWebApp//test/unit/coverage/
/FaceRecognitionWebApp//test/e2e/reports/
/FaceRecognitionWebApp/selenium-debug.log

# Editor directories and files
/FaceRecognitionWebApp/.idea
/FaceRecognitionWebApp/.vscode
/FaceRecognitionWebApp/*.suo
/FaceRecognitionWebApp/*.ntvs*
/FaceRecognitionWebApp/*.njsproj
/FaceRecognitionWebApp/*.sln
