HELP.md
/FaceRecognitionApi/target/
!.mvn/wrapper/maven-wrapper.jar
/FaceRecognitionApi/src/main/resources/imgs/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/FaceRecognitionApi/.idea
/FaceRecognitionApi/*.iws
/FaceRecognitionApi/*.iml
/FaceRecognitionApi/*.ipr


/FaceRecognitionCore/.idea
/FaceRecognitionCore/__pycache__
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
/FaceRecognitionWebApp/.vscode/
