<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peer.afang.facerecognition.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="peer.afang.facerecognition.pojo.Account">
        <id column="account" jdbcType="VARCHAR" property="account" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <sql id="Base_Column_List">
    account, time, password
  </sql>
    <select id="getByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from account
        where account = #{account,jdbcType=VARCHAR}
    </select>
</mapper>