<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peer.afang.facerecognition.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="peer.afang.facerecognition.pojo.User">
      <id column="userid" jdbcType="INTEGER" property="userid" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="peer.afang.facerecognition.pojo.User" useGeneratedKeys="true" keyColumn="userid" keyProperty="userid">
    insert into user (userid, username, time)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="peer.afang.facerecognition.pojo.User"  useGeneratedKeys="true" keyColumn="userid" keyProperty="userid">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="peer.afang.facerecognition.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="peer.afang.facerecognition.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>


  <select id="getByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="listAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
  </select>
  <select id="countAll" resultType="java.lang.Long">
    select count(userid) from user
  </select>
  <select id="listPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where userid > #{startid, jdbcType=INTEGER} order by userid asc limit #{pageSize, jdbcType=INTEGER}
  </select>
</mapper>